rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Aturan umum untuk semua dokumen
    match /{document=**} {
      // Izinkan baca untuk semua pengguna, bahkan yang belum login
      allow read: if true;

      // Izinkan tulis, hapus, dan perbarui hanya untuk pengguna yang sudah login
      allow write: if request.auth != null;
    }
  }
}
